<!DOCTYPE html>
<html>
<head>
	<title>php code metrics</title>
	<script type="text/javascript"><*jq.js*></script>
</head>
<body>
	<div id="avgmethodplot">
		<p>Churn / Complexity (avg)</p>
	</div>
	<div id="maxmethodplot">
		<p>Churn / Complexity (max)</p>
	</div>

	<script type="text/javascript">
	(function($) {
		var createPlotHolder = function(container) {
			var plot = $('<div style="width:1000px;height:300px;border:1px 1px 1px 1px;"></div>');
			plot.appendTo($(container));
			return plot;
		};
		var prevPoint = {};
		var createPlot = function(id, data, labels) {
			var plotHolder = createPlotHolder(id);
			var data = [{ data: data, points: { show: true } }];
			var options = {
				xaxis: { min: 0 },
				yaxis: { min: 0 },
				grid: { hoverable: true, clickable: true }
			};

			$.plot(plotHolder, data, options);

			prevPoint[id] = null;
			plotHolder.bind("plotclick", function(event, pos, item) {
				if (item)
				if (prevPoint[id] != item.datapoint) {
					prevPoint[id] = item.datapoint;
					alert(labels[item.dataIndex]);
				} else {
					prevPoint[id] = null;
				}
			});
		};
		var drawer = function(data) {
			var inputAvg = [];
			var inputMax = [];
			var inputLabels = [];
			for (className in data) {
				inputAvg.push([data[className][0], data[className][1]]);
				inputMax.push([data[className][0], data[className][2]]);
				inputLabels.push(className);
			}

			createPlot('#avgmethodplot', inputAvg, inputLabels);
			createPlot('#maxmethodplot', inputMax, inputLabels);
		};

		$(function() {
			drawer(<*json*>);
		});
	})(jQuery);
	</script>
</body>
</html>